.chatView{
    /* allows the bar-footer to be elastic /*
    /* optionally set a max-height */
    /* maxlength on the textarea will prevent /*
    /* it from getting too large also */
    .bar-footer {
    overflow: visible !important;
    }
    
    .bar-footer textarea {
    resize: none;
    height: 25px;
    width: 100%;
    }

    .bar-footer textarea::placeholder {
        color: darkslategrey;
    }

    /* fixes an ios bug bear */
    button.ion-android-send {
    padding-top: 2px;
    }

    /* add this to keep your footer buttons down 
    at the bottom as the textarea resizes */
    .footer-btn-wrap {
    position: relative; 
    height: 100%; 
    width: 50px; 
    top: 7px;
    }

    button.photo {
    position: absolute;
    bottom: 0px;
    left: -43px;
    }

    .scrollDownBtn{
    right: -10px;
    bottom: 60px;
    }

    .scrollDownBtn:before{
    background-color: white;
    border-radius: 100%;
    }

    .footer-btn {
    position: absolute !important; 
    bottom: 0;
    }

    img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    }

    img.profile-pic.left {
    left: 10px;
    }

    img.profile-pic.right {
    right: 10px;
    }

    .ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
    }

    .message {
    font-size: 14px;
    }

    .message-detail {
    white-space: nowrap;
    font-size: 14px;
    }

    .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
    }

    .message-wrapper {
    position: relative;
    }

    .message-wrapper:last-child {
    margin-bottom: 10px;
    }

    .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    }

    .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
    }

    .chat-bubble img{
    max-width:100%;
    max-height:300px;
    }

    .chat-bubble.left {
    background-color: #edede9;
    float: left;
    margin-left: 55px;
    }

    .chat-bubble.left:before {
    background-color: #edede9;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
    transform: rotate(70deg) skew(5deg);
    }

    .chat-bubble.right {
    background-color: #febc40;
    color: #fff;
    float: right;
    margin-right: 55px;
    }
    .sup{
    background-color: #84d1ff !important;    
    }
    .sup:before{
    background-color: #84d1ff !important;    
    }
   
    .chat-bubble.right:before {
    background-color: #febc40;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
    transform: rotate(118deg) skew(-5deg);
    }

    .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
    }

    input, textarea, .item-input, .item-input-wrapper {
    background-color: #e1e1e1 !important;
    }

    .bold {
    font-weight: bold;
    }

    .cf {
    clear: both !important;
    }

    a.autolinker {
    color: #3b88c3;
    text-decoration: none;
    }
}