@media (min-width: 680px) {
    .bigModal {
        top: 0px !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
    }
    
    .platform-ios.platform-cordova .modal-wrapper .modal {
        
        .bar-header:not(.bar-subheader) > * {
            margin-top: 20px;
        }
        
        .bar-header:not(.bar-subheader) {
            height: 64px;
        }
        
        .has-header, .bar-subheader {
            top: 64px;
        }
    }
}
.center-content{	
	display: table !important;
	width: 100% !important;
	height: 100% !important;
		
	.scroll {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animate-item{
	animation: fadeInLeft 1s;
}
#gambeta{
    .scroll {
		height: 100%
	}
}
.desaturate { 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.jah-logo{
    height: 80px;
    margin-top: -9px;
    margin-right: -20px;
}
.button-retify{
    border-color: transparent;
    border-radius: 30px;
    margin: 25px auto;
    width: 50%;
    display: block;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    background-color: #b80200;
    color: white;
}
.lastChange{
    border-bottom: solid 1px darkgray;
}
.fade {
    border   : 1px #d8d8d8 dashed;
    position : absolute;
  }
  
  .fade:before {
    content  : "";
    position : absolute;
    z-index: 2;
    bottom: 120px;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), #ddd 80%);
    width    : 100%;
    height   : 5em;
  }
  .menu a.item-content{
    display: flex;
    align-items: center;
  }