$facebook-blue: #3b5998;

.facebook-nav-bar{
    background-color: $facebook-blue !important;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    display: inline !important;
}

.facebook-logo{
    height: 35px;
    margin-top: 10px;
    margin-left: 2px;
}