.button-filter{
    border-color: transparent;
    border-radius: 30px;
    margin: 10px auto;
    width: 50%;
    display: block;
    // font-family: "Myriad Pro";
    text-transform: uppercase;
    background-color: #b80200;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 15px;
    min-height: 30px;
    color: #c8c7c7;
    letter-spacing: 0.73px;
}
.icon_filter{
    height:50px;
    margin-left: auto;
    margin-right: auto;
}