.logo{
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 30px !important;
    text-shadow: 4px 6px 18px #000000, 4px 6px 18px #000000, 4px 6px 18px #000000;
}

.tab{
    display: inline-flex;
    width: 25%;
    background-color: #575757;
    height: 50px;
    border-left: 2px solid #686868;
    border-top: 2px solid #878787;
    border-right: 2px solid #434343;
    border-bottom: 2px solid #434343;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-active{
    background-color: #b1b1b1;
    border-left: 2px solid #b9b9b9;
    border-top: 2px solid #c7c7c7;
    border-right: 2px solid #a9a9a9;
    border-bottom: 2px solid #8a8a8a;
    p{
        color: #555454 !important;;
    }
}

.home-bagde{
    color: #b0b0b0;
    font-family: Helvetica;
    // position: absolute;
    margin-left: 0px;
    margin-top: 25px;
}

.home-bagde-active {
    color: #575757;
}

.all-nav-bar{
    width: 100%;
    margin-top: -6px;
    background: none !important;
    background-image: url('../img/icons/brasil/brasil-header.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.nav-bar-event{
    width: 100%;
    background-size: cover;
    height: 62px !important;
    display: -webkit-box;
}

.item-event{
    background-color: #e2e2e2;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
}
.item-ocorrencia{
    background-color: #e1e1e1;
    border-width: 0px;
    border-style: none;
    overflow: unset !important; 
    text-overflow: unset !important; 
    white-space: unset !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.foo-ocorrencia{
    border-width: 0px;
    border-color:red !important;
    border-top-width: 2px;
    border-style: solid;
    height: 120px;
    background-color: #e1e1e1 !important;
    .tag-title{
        /* Style for "TAGS" */
        color: #383838;
        font-size: 13px;
        font-weight: 600;
        line-height: 19px;
        text-transform: uppercase;
    }
    .tags{
        color: #383838;
        font-size: 16px;
        font-weight: 400;
    }
}
.search-bar {
    display: inline-flex;
    background-color: #b0b0b0;
    width: 100%;
    justify-content: space-between;

    button{
        display: inline-flex;
        background-color: #b0b0b0;
        width: 25%;
        height: 30px;
    }

    .search-bar__text-field {
        color: #686767;;
        position: relative;
        padding: 0px;
        height: 30px;
        background: transparent;
        width: 55%;
        margin-right: 1px;
        ::-webkit-input-placeholder {
            color: white;
        }
        :-moz-placeholder {
            color: white;
        }
    }

    i{  
        color:#3c3c3d;
        position: relative;
        left: 10%;
        line-height: 30px;
        margin:auto;
    }
}

.button-bar_ocorrencia{
        position: absolute;
        height: 44px;
        bottom: 0px;
        left: 0px;
        background-color: #2a2a2a;  
            .button_back_occorencia{
                display: inline-flex;
                color: #636363;
                border-top: 2px solid #767676;
                border-right: 2px solid black;
                border-left: 2px solid #4a4a4a;
                border-bottom: 2px solid black;
               
        }
      .button_occorencia{
            display: inline-flex;
            padding: 0px 12px;
            border-top: 2px solid #767676;
            border-right: 2px solid black;
            border-left: 2px solid #4a4a4a;
            border-bottom: 2px solid black;
    }
}

.filter {
    margin: auto;
    height: 20px;
}
.errata{
    width: 50%;
    float: right;
    background: #e4b13f;
    border-radius: 20px;
    text-align: center;
    color: #7a0101 !important;
    font-weight: 800;
    padding-top: 2px;
}
.dataHora{
    color: #333333;
    width:50%;
    float:left;
}