.login-bg {
    background-image: url("../img/login.png");
    background-attachment: fixed;
    background-size: cover;
}
.logo-j-{
    width: 50%;
}
.form{
    margin-top: 109%;
    margin-bottom: 10px;
    height: 120px;
}
.input-login{
    background: transparent;
    border-color: #676767;
    height: 60px;
}
.button-login{
    border-color: transparent;
    background-color: #dfa514;
    border-radius: 30px;
    margin: 25px auto;
    width: 50%;
    display: block;
    color: #434343;
    font-family: "Myriad Pro";
    font-size: bold;
    text-transform: uppercase;
}
.icon-login{
    margin-right: 16px !important;
    height: 20px;
}