.menu {
    
    ion-header-bar{
        border: none;
        box-shadow: none;
        min-height: 81px;
        color: #181818;
        padding: 0;
            .opa{
                width: 39px;
                height: 28px;
                color: #b07400;
                font-family: Frutiger;
                font-size: 40px;
                font-weight: 700;
                line-height: 19px;
                text-transform: uppercase;
                margin: 25px 105px;
                position: absolute;
        }
        .item{
            background-color: dimgray;
            border: none;
            width: 100%;
            padding-left: 120px;
            padding-top: 45px;
            
            img{
                max-width: 100px !important;
                top: 25% !important;
                left: 10px !important;
            }
            
            h2, p{
                font-family: 'Jura';
            }
            
            h2{
                font-size: 35px;
                font-weight: bold;
            }
            
            p{
                font-size: 20px;
                color: white;
            }
        }
    }
    
    ion-content {
        top: 81px !important;
        background-color: #444444;
        
        .item{
            // border: none;
            border: 2px solid rgb(68, 68, 68);
            background-color: transparent;
            // font-family: "Myriad Pro";
            .item-content{
                background-color: #444444;
                color: #a4a3a3;
                border-width: 0px;
                border-bottom-width: 2px;
                border-style: solid;
                a {
                    width: 88px;
                    height: 14px;
                    color: #a3a2a2;
                    font-family: "Myriad Pro";
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 19px;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }
            }
        }
        
        .item.active{          
            .item-content{
                color: #222222;
                font-size: 19px;
                border-color: #d0d0d0;
                background-color: #828282;
            }
        }
    }
}

.menu-open {
    .menu {
        ion-header-bar img{
            animation-name: flash;
        }
    }  
}