.bar-header{
    height: 62px;
}

.has-header{
    top: 62px;
}
.nav-bar-container{
    display: none;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0 !important;
}