$twitter-blue: #1da1f2;

.item p {
    white-space: pre-wrap;
}
.item small {
    color: #8899a6;
}
.item .time:before {
    content: "\00b7";
}
.twtr-hashtag, .twtr-hyperlink, .twtr-atreply {
    color: #226699;
}

.twitter-nav-bar{
    background-color: $twitter-blue !important;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    display: inline !important;
}

.twitter-logo{
    height: 35px;
    margin-top: 10px;
    margin-left: 2px;
}