<ion-modal-view class='filter' ng-click="closeModal()" style="width: 85%; height: 60%; min-height: 360px; 
max-height: 250px; top: 20%; left: 8%;background-color: #dedede;" ng-controller="ChangeClientsController">
    <ion-content has-bouncing="true">
        <div class="row" style="display: flex;justify-content: center;">
            <img style="width: 100px;height: 100px; margin-top: 0 !important" src="img/logo-rounded.png">
        </div>
        <div class="row" style="display: flex;justify-content: center;margin-top: 10px;">
            <span><b>Clientes</b></span>
        </div>

        <div ng-repeat="client in clients" ng-class="{'lastChange':$last}"  ng-click='setClient(client)' style="height: 50px;border-top: solid 1px darkgray;display: flex;background-color: #dedede;">

            <img style="width: 40px;height: 40px;padding: 5px;margin: auto 15px;" ng-src="{{client.$id === currentGroup ? 'img/icon_change_on.png' : 'img/icon_change_off.png'}}">
            <span style="margin: auto 0px; color: #8c8c8c">{{client.name}}</span>
        </div>
        <!--
        <ion-radio ng-repeat="client in clients" ng-model="choice" ng-Change='setClient(client)' ng-value="client.$id">{{client.nickname}}</ion-radio>
        -->
    </ion-content>
</ion-modal-view>