<ion-modal-view class='filter' ng-click="closeModal()" style="width: 85%; min-height: 300px;top: 20%; left: 8%;">
    <ion-content has-bouncing="true">
        <div class="row" style="display: inline-block;padding: 0;">
            <div class="row">
                <div ng-click="openDatePicker(1)" class="col col-50">
                    <label class="item item-input" style="border-top: 2px solid #c0c0c0;border-left: 2px solid #c0c0c0;">
                        <input style="background-color: unset !important;" ng-readonly="true" type="text" ng-model='dataInit' placeholder="Data inicial">
                    </label>
                </div>
                <div ng-click="openDatePicker(2)" class="col col-50">
                    <label class="item item-input" style="border-top: 2px solid #c0c0c0;border-left: 2px solid #c0c0c0;">
                        <input style="background-color: unset !important;" ng-readonly="true" type="text" ng-model='dataEnd' placeholder="Data final">
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="display: inline-block;">
            <div class=" row col">
                <label class="item item-input" style="border-top: 2px solid #c0c0c0;border-left: 2px solid #c0c0c0;">
                    <input type="text" ng-model="tagsFilter" placeholder="TAGS (Separar virgula)">
                </label>
            </div>
        </div>
        <div class="row" style="display: inline-block;">
            <div class="row col">
                <label class="item item-input" style="border-top: 2px solid #c0c0c0;border-left: 2px solid #c0c0c0;">
                    <input type="text" ng-model="assuntoFilter" placeholder="ASSUNTO">
                </label>
            </div>
        </div>
        <div class="row" style="justify-content:space-between; margin-top: 5px; padding-left: 50px; padding-right: 50px">
            <div ng-click="ativarSentimento('P')">
                <img class="icon icon_filter " ng-src="{{sentimentoFilter === 'P' ? 'img/positivo_ativo.png' : 'img/positivo_inativo.png'}}"
                />
                <!-- <img ng-if="sentimentoFilter === 'P'" class="icon icon_filter " ng-src="img/positivo_ativo.png" />
                <img ng-if="sentimentoFilter !== 'P'" class="icon icon_filter " ng-src="img/positivo_inativo.png" /> -->
            </div>
            <div ng-click="ativarSentimento('0')">
                <img class="icon icon_filter " ng-src="{{sentimentoFilter === '0' ? 'img/neutro_ativo.png' : 'img/neutro_inativo.png'}}"
                />
                <!-- <img ng-if="sentimentoFilter === '0'" class="icon icon_filter" ng-src="img/neutro_ativo.png" />
                <img ng-if="sentimentoFilter !== '0'" class="icon icon_filter" ng-src="img/neutro_inativo.png" /> -->
            </div>
            <div ng-click="ativarSentimento('N')">
                <img class="icon icon_filter " ng-src="{{sentimentoFilter === 'N' ? 'img/negativo_ativo.png' : 'img/negativo_inativo.png'}}"
                />
                <!-- <img ng-if="sentimentoFilter === 'N'" class="icon icon_filter" ng-src="img/negativo_ativo.png" />
                <img ng-if="sentimentoFilter !== 'N'" class="icon icon_filter" ng-src="img/negativo_inativo.png" /> -->
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <button ng-click="cleanFilter()" class="button button-filter" style="margin-right: 10px;">
                <b>LIMPAR</b>
            </button>
            <button ng-click="filtrar()" class="button button-filter" style="margin-left: 10px;">
                <b>OK</b>
            </button>
        </div>
    </ion-content>
</ion-modal-view>