<ion-popover-view class="popoverView">
    <ion-header-bar>
        <h1 class="title">My Starter! :)</h1>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box>
            <ion-slide>
                <img src="img/logo-j-.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/login.png" />
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-popover-view>