<ion-modal-view class='filter' ng-click="closeModal()" style="width: 85%; height: 60%; min-height: 360px; 
max-height: 250px; top: 20%; left: 8%;" ng-controller="RetifyController">
    <ion-content has-bouncing="true" style="margin: 10px 20px 10px 0px">
        <label class="item item-input item-stacked-label">
	        <span class="input-label">Descreva o motivo da correção: </span>
	        <textarea ng-model='message' placeholder="Motivo..." rows="8" cols="10"></textarea>
        </label>
        <button ng-click="corregirOcorrencia(message)" class="button button-retify">
                        Enviar
            </button>
    </ion-content>
</ion-modal-view>