<ion-view class="chatView" view-title="{{viewname}}" cache-view="false">
	<img class="nav-bar-event" ng-src="{{navHeader}}">
	<!-- <img ng-src="{{navTitle}}" style="position: fixed; top: 8px; left: 0px; height: 40px"> -->
	<img ng-src="{{navIconLeft}}" style="position: fixed; top: 10px; left: 14px; height: 40px">
	<p style="position: fixed;top: 18px;left: 40%;font-size: 20px;color: white;font-weight: 600;text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);">{{viewname}}</p>
	<img ng-src="{{navIconRight}}" style="position: fixed; top: 0px; right: 0px; height: 60px" ng-click="sideMenu()">
	<div class="loader-center" ng-if="!doneLoading">
		<div class="loader">
			<i class="icon ion-load-c"></i>
		</div>
	</div>
	<ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll"
	 on-scroll="checkScroll()">

		<div ng-repeat="message in messages | orderBy : 'message.date'  track by $index " class="message-wrapper" ng-init="$last && refreshScroll(user._id === message.userId)"
		 on-hold="onMessageHold($event, $index, message)">

			<div ng-if="user.guid !== message.userId">

				<img class="profile-pic left" ng-src="{{ message.thumb}}" onerror="onProfilePicError(this)" />

				<div class="chat-bubble left">
					<img ng-click="photoBrowser(message)" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll(scrollDown)"
					/>
					<div ng-if="!message.photo" class="message" ng-bind-html="message.text | nl2br" autolinker>
					</div>

					<div class="message-detail">
						<span am-time-ago="message.date"></span>
					</div>

				</div>
			</div>

			<div ng-if="user.guid === message.userId">

				<img class="profile-pic right" ng-src="{{ message.thumb}}" onerror="onProfilePicError(this)" />

				<div class="chat-bubble right" ng-class="{sup:isSuporte, chat:!isSuporte}">

					<img ng-click="photoBrowser(message)" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll($last)"
					/>

					<div ng-if="!message.photo" class="message" ng-bind-html="message.text | nl2br" autolinker>
					</div>

					<div class="message-detail">
						<span am-time-ago="message.date"></span>
					</div>

				</div>

			</div>

			<div class="cf"></div>

		</div>
	</ion-content>

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate style="position: fixed; bottom: 0px; width: 100%">
		<ion-footer-bar class="bar-stable item-input-inset message-footer">
			<label class="item-input-wrapper">
                      <textarea ng-model="input.message" value="" placeholder="Escreva sua mensagem..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                  </label>
			<div class="footer-btn-wrap">
				<!--<button style="color:#febc40" class="button button-icon icon ion-images button-dark button-clear photo" type="button" ng-if="!input.message || input.message === ''"
					on-tap="sendPhoto()">
                </button>-->
				<button style="color:#febc40 !important;" class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
                    </button>
				<button ng-if="isSuporte" style="color:#84d1ff !important;" class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
                    </button>
				<a ng-click="refreshScroll(true, 50)" ng-show="!scrollDown" class="scrollDownBtn button button-icon icon ion-android-arrow-dropdown-circle"></a>
			</div>
		</ion-footer-bar>
	</form>
</ion-view>