<ion-view view-title="" cache-view=false>
    <img class="nav-bar-event" ng-src="{{navHeader}}">
    <!-- <img ng-src="{{navTitle}}" style="position: fixed; top: 8px; left: 0px; height: 40px"> -->
    <img ng-src="{{navIconLeft}}" style="position: fixed; top: 10px; left: 14px; height: 40px">
    <img ng-src="{{navIconRight}}" style="position: fixed;top: 0px;right: 5px;height: 60px;" ng-click="sideMenu()">
    <ion-content>
        <ul class="list">

            <li class="item item-toggle">
                Som
                <label class="toggle toggle-assertive">
                   <input type="checkbox" ng-model="user.pushSound" ng-click="changeSound(user.pushSound)">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
            </li>

            <li class="item item-toggle">
                Vibração
                <label class="toggle toggle-assertive">
                   <input type="checkbox"  ng-model="user.Vibrate" ng-click="changeVibrate(user.Vibrate)">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
            </li>

        </ul>
        <button style="width: 90%;margin: auto;min-height: 45px; height: 45px;" class="button button-block button-energized" ng-click="resetPassword()">
            Alterar Senha
          </button>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-light" style="margin:20px 0px">
        <button class="button button-block button-assertive" ng-click="logout()" style="width: 90%;margin: auto;min-height: 45px; height: 45px;">
            Deslogar
          </button>
    </ion-footer-bar>
</ion-view>