<ion-view view-title="" cache-view=false>
    <img class="nav-bar-event" ng-src="{{navHeader}}">
		<!-- <img ng-src="{{navTitle}}" style="position: fixed; top: 8px; left: 0px; height: 40px"> -->
		<img ng-src="{{navIconLeft}}" style="position: fixed; top: 10px; left: 14px; height: 40px">
		<img ng-src="{{navIconRight}}" style="position: fixed;top: 0px;right: 5px;height: 60px;" ng-click="sideMenu()">
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-icon-right" ui-sref="app.chat({groupId: {{group}} })">
                <img ng-src="{{group.thumb}}">
                <h2>{{group.name}}</h2>
                <i class="icon ion-chevron-right"></i>
            </a>

            <a ng-if="showUser(user)" ng-repeat="user in users" class="item item-avatar item-icon-right" ui-sref="app.chat({toUser: {{user}} })">
                <img ng-src="{{user.thumb}}">
                <h2>{{user.name}}</h2>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>