<ion-view hide-back-button="true">
	
	<!--<ion-nav-bar class="nav-bar-event" style="background: {{navBarClass}} !important">
		<ion-nav-buttons style="background: transparent;" side="right">
			<button  style="background: transparent;" class="button" menu-toggle="left">
					<img style="background: transparent;" class="icon jah-logo" ng-src="img/icons/logo.png">
				</button>
		</ion-nav-buttons>
	</ion-nav-bar>-->

	<ion-content scroll="false" style="top:0px !important">
		<!--<div class="nav-bar-event" style="background: {{navBarClass}} !important"></div>-->
		<img class="nav-bar-event" ng-src="{{navBarClass}}" >
		<div ng-repeat="tab in client.sections" style="display: inline-flex;width: 20%;background-color: #575757;
    padding: 10px;height: 50px;">
			<img style="width: 50%;height: 50%;margin: auto;" ng-src="{{tab.icon}}">
		</div>
		<div style="display: inline-flex;width: 20%;background-color: #575757;
    padding: 10px;height: 50px;">
			<img style="width: 50%;height: 50%;margin: auto;" ng-src="{{client.sections[0].icon}}">
		</div>
		<div class="search-bar" ng-click="goToSearch()">
			<i class="ion-ios-search"></i>
			<input type="search" class="search-bar__text-field" placeholder="Buscar" ng-model="criteria">
			<button ng-click="openFilter()"><i class="ion-funnel"></button>
		</div>

		<ion-slide-box show-pager="false" bounce="false" on-slide-changed="mudarAba(index)">
			<ion-slide ng-repeat="tab in client.sections">
				<ion-scroll style="height: 100%;background-color:#e2e2e2" scrollbar-y="false" scrollbar-x="false">
					<div class="list">
						<a class="item item-avatar item-event" style="border-color:{{tab.color}}" ng-repeat="ocorrencia in splited[$index] | filter:criteria"
						 ng-click="irParaDetalhe($parent.$index, $index)">
							<img ng-src="{{ocorrencia.sentimento.url}}">
							<h2>{{ocorrencia.title}}</h2>
							<p>{{ocorrencia.pubDate | date : "dd.MM.y"}}</p>
						</a>
					</div>
				</ion-scroll>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>