<ion-view view-title="Facebook" cache-view=false class="galleryView">
  
  <!-- Sobrescrita da nav-bar> -->
  <ion-nav-bar class="facebook-nav-bar">
    <!-- Logo do Facebook do lado esquerdo -->
    <ion-nav-buttons side="left">
      <img class="icon facebook-logo" ng-src="img/icons/facebook/logo.png"/>
    </ion-nav-buttons>
    <!-- Botão do JÁ lado direito -->
    <ion-nav-buttons side="right">
      <img class="icon jah-logo" ng-src="img/icons/logo.png" ng-click="sideMenu()" />
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- Conteúdo do Facebook -->
  <ion-content id='gambeta' style="width: 100%;height: 100%">
    <iframe src={{trustSrc(url)}} width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true"></iframe>
  </ion-content>
</ion-view>
