<ion-view hide-back-button="true" cache-view="false">
	<ion-content scroll="false" style="top:0px !important">
		<!-- Header -->
		<div style="display: flex">
			<!-- Imagem de header -->
			<img class="nav-bar-event" ng-src="{{navBarClass}}">
			<!-- Título do header -->
			<p style="position: fixed; top: 20px; left: 15px;font-size: 20px;color: white;font-weight: 600;text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);">{{navTitle}}</p>
			<!-- Logo do header -->
			<span class="icon-logo logo" style="color: {{tabColor}}; padding: 8px; margin: -8px" ng-click="sideMenu()"></span>
		</div>
		<!-- Botões de categorias -->
		<div style="display: flex">
			<div class="tab" ng-repeat="tab in client.sections" ng-class="{'tab-active' : $index === active}" ng-click="gotoSlide($index)">
				<i class="icon-{{tab.className}}"></i>
				<span class='home-bagde' ng-class="{'home-bagde-active' : $index === active}">{{ocorrenciasSeparadas[tab.$id].length}}</span>
			</div>
		</div>
		<!-- Barra de busca/filtro -->
		<div class="search-bar" style="align-items: center">
			<!-- Busca -->
			<img ng-src="{{criteria?'img/search_ativo.png':'img/search_inativo.png'}}" style="height: 20px; margin-left: 10px; margin-right: 10px;" focus-input>
			<input type="search" class="search-bar__text-field" placeholder="Buscar" ng-model="criteria" id="searchInput">
			<!-- Filtro -->
			<button style="width:25%" ng-click="openFilter()">
				<img ng-if="!filterOn" class="filter" ng-src="img/filtro_inativo.png">
				<img ng-if="filterOn" class="filter" ng-src="img/filtro_ativo.png">
				<!-- <span ng-show="filterOn" class="badge badge-assertive">!</span> -->
			</button>
		</div>
		<!-- Abas com slide -->
		<ion-slide-box active-slide="active" show-pager="false" bounce="false" on-slide-changed="mudarAba(index)">
			<ion-slide ng-repeat="tab in client.sections">
				<ion-scroll style="height: 100%;background-color:#e2e2e2" scrollbar-y="false" scrollbar-x="false">
					<!-- Ocorrências -->
					<div class="list" style="position: relative; padding-top: 1px; padding-bottom: 1px; padding-left: 0; bottom: 71px; margin-top: 71px;">
						<a class="item item-avatar item-event" style="border-color:{{tab.color}}; padding-top: 0px; padding-bottom: 5px;" ng-repeat="ocorrencia in ocorrenciasSeparadas[tab.$id] | filter: {titOcor: assuntoFilter, sentOcor: sentimentoFilter, tagList: tagsFilter} | filter: criteria"
						 ng-click="irParaDetalhe($parent.$index, $index, ocorrencia)">
							<img ng-if="ocorrencia.sentOcor==='P'" ng-src="img/positivo_ativo.png">
							<img ng-if="ocorrencia.sentOcor==='N'"  ng-src="img/negativo_ativo.png">
							<img ng-if="ocorrencia.sentOcor==='0'"  ng-src="img/neutro_inativo.png">
							<div class="row">
							<p class="dataHora">{{ocorrencia.datOcor}}</p>
							<p  ng-if="ocorrencia.sttLink =='E'" class="errata">Errata </p>
							<p  ng-if="ocorrencia.sttLink =='A'" class="errata">Atualização </p>
						</div>
							<h2 class="row" style="display: unset;">{{ocorrencia.titOcor}}</h2>
						</a>
					</div>
				</ion-scroll>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>