<ion-view id="login" hide-nav-bar="true">
    <ion-content class='login-bg' padding="false" scroll="false">
        <form ng-show='showForm' ng-submit="emailLogin(user.email,user.password)"> 
        <!-- <form ng-submit="emailLogin(user.email,user.password)"> -->

            <div class="form" style="margin-top: 60%">
                <label class="item item-input input-login">
                    <img class='icon-login' src="img/icon-email.png">
                        <input style="background: transparent;color: #b8b8b8;" placeholder="Email" type="email" name="email" ng-model="user.email" required >
                </label>
                <label class="item item-input input-login">
                    <img class='icon-login' src="img/icon-pwd.png" style="height: 28px !important">
                        <input style="background: transparent;color: #b8b8b8;" placeholder="Senha" type="password" name="password"  ng-model="user.password" required>
                </label>
            </div>
            <button ng-show='false'  type="submit" class="button button-login">
                        ENTRAR
                    </button> 
            <div style="display: flex; align-items: center; justify-content: center">
                <img id='loginButton' type="submit" ng-src="img/btn-entrar.png" ng-click="emailLogin(user.email,user.password)">
            </div>
        </form>
    </ion-content>
</ion-view>