<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-view class="opa" name="viewContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" class="menu">
		<ion-header-bar style="background-color: #181818; display: flex; align-items: center" menu-close nav-direction="enter" nav-clear>

			<img style="width: 75px;height: 80px; margin-top: 0 !important" src="img/logo-j-.png">

			<!-- <img ng-click='changeGroup()' style="margin-left: 20px; height: 25px;" src="{{user.clients[currentGroup].thumb}}"> -->
			<img ng-click='changeGroup()' ng-style="user.clients[currentGroup].nickname === 'MCTIC'? {'margin-left': '20px', 'height': '20px'}:{'margin-left': '20px', 'height': '25px'}" src="{{user.clients[currentGroup].thumb}}">
			

		</ion-header-bar>
		<ion-content class="has-header">
			<ion-list>
				<ion-item menu-close nav-direction="enter" ui-sref="app.home" class="item menu" ui-sref-active="active" ng-click="changeMenuItem(0)">
					<img style="width:16px;height:22px;margin-top: 5px; margin-bottom: 5px; margin-left: 27px; margin-right: 35px" ng-src="{{menuItem === 0 ? 'img/Menu/icon-ocorrencias_ativo.svg' : 'img/Menu/icon-ocorrencias_inativo.svg'}}"
					 class="icon" /> Ocorrencias
				</ion-item>
				<ion-item ng-repeat="link in user.clients[currentGroup].links" ng-show="link.type=='F'" menu-close nav-direction="enter"
				 ui-sref="app.facebook({'linkId':link.id})" class="item" ui-sref-active="active" ng-click="changeMenuItem(1)">
					<img style="width:21px;height:21px;margin-top: 5px; margin-bottom: 5px; margin-left: 27px; margin-right: 30px" ng-src="{{menuItem === 1 ? 'img/Menu/icon-facebook_ativo.svg' : 'img/Menu/icon-facebook_inativo.svg'}}"
					 class="icon" /> Facebook- {{link.linkNickname}}
				</ion-item>
				<ion-item ng-repeat="link in user.clients[currentGroup].links" ng-show="link.type=='T'" menu-close nav-direction="enter"
				 ui-sref="app.twitter({'linkId':link.id})" class="item" ui-sref-active="active" ng-click="changeMenuItem(2)">
					<img style="width:22px;height:18px;margin-top: 5px; margin-bottom: 5px; margin-left: 27px; margin-right: 29px" ng-src="{{menuItem === 2 ? 'img/Menu/icon-twitter_ativo.svg' : 'img/Menu/icon-twitter_inativo.svg'}}"
					 class="icon" /> Twitter - {{link.linkNickname}}
				</ion-item>
				<ion-item ng-if='user.profile.chat' menu-close nav-direction="enter" ui-sref="app.contacts" class="item" ui-sref-active="active"
				 ng-click="changeMenuItem(3)">
					<img style="width:30px;height:30px;margin-top: 5px; margin-bottom: 5px; margin-left: 27px; margin-right: 21px" ng-src="{{menuItem === 3 ? 'img/Menu/icon-chat_ativo.svg' : 'img/Menu/icon-chat_inativo.svg'}}"
					 class="icon" /> Chat
				</ion-item>
				<ion-item ng-if='user.profile.suport' menu-close nav-direction="enter" ui-sref="app.chat({groupId: { name: 'Suporte', guid:currentGroup + '_suporte' } })"
				 class="item" ng-class="{active:menuItem === 4}" ng-click="changeMenuItem(4)">
					<img style="width:25px;height:25px;margin-top: 5px; margin-bottom: 5px; margin-left: 27px; margin-right: 26px" ng-src="{{menuItem === 4 ? 'img/Menu/icon-suporte_ativo.svg' : 'img/Menu/icon-suporte_inativo.svg'}}"
					 class="icon" /> Suporte
				</ion-item>

				<ion-item menu-close nav-direction="enter" ui-sref="app.config" class="item menu" ui-sref-active="active" ng-click="changeMenuItem(5)">
					<img style="height: 26px;margin-top: 5px;margin-bottom: 5px;margin-left: 27px;margin-right: 25px;" ng-src="{{menuItem === 5 ? 'img/Menu/icon-configuracao_ativo.svg' : 'img/Menu/icon-configuracao_inativo.svg'}}"
					 class="icon" /> Configurações
					 <!-- <i style="width:16px;height:22px;margin-top: 5px; margin-bottom: 5px; margin-left: 27px; margin-right: 35px" class="ion-gear-b">Configurações</i> -->
				</ion-item>
			</ion-list>
		</ion-content>


	</ion-side-menu>
</ion-side-menus>