<ion-view hide-back-button="true" cache-view="false">
	<ion-content scroll="false" style="top: 0px !important" class="has-footer" has-bouncing="false">
		<div style="display: flex;">
			<!-- Imagem de header -->
			<img class="nav-bar-event" ng-src="{{navBarClass}}">
			<!-- Título do header -->
			<p style="position: fixed; top: 20px; left: 15px;font-size: 20px;color: white;font-weight: 600;text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);">{{navTitle}}</p>
			<!-- Logo do header -->
			<span class="icon-logo logo" style="color: {{tabColor}}" ng-click="sideMenu()"></span>
		</div>
		<ion-slide-box show-pager="false" active-slide="active" on-slide-changed="slideHasChanged($index)" style="padding-bottom: 138px">
			<ion-slide ng-repeat="ocorrencia in ocorrencias" style="background-color: #e1e1e1;">
				<ion-scroll style="height:100%">

					<div class="item item-avatar item-ocorrencia">
						<img style="border-radius: 0%; height: auto; top: 30%" ng-src="{{category.icon}}">
						<div class="row" ng-if="ocorrencia.sttLink">
							<p class="dataHora">{{ocorrencia.datOcorOrig}}</p>
							<p ng-if="ocorrencia.sttLink =='E'" class="errata">Errata {{teste(ocorrencia.datOcor)}}</p>
							<p ng-if="ocorrencia.sttLink =='A'" class="errata">Atualização {{teste(ocorrencia.datOcor)}}</p>
						</div>
						<div class="row" ng-if="!ocorrencia.sttLink">
							<p class="dataHora">{{ocorrencia.datOcor}}</p>
						</div>
						<h2 class="row" style="display: unset;overflow: visible;">{{ocorrencia.descAssu}}</h2>
					</div>
					<div class="item item-avatar item-ocorrencia" style="display:inline-flex">
						<img ng-if="ocorrencia.sentOcor==='P'" ng-src="img/positivo_ativo.png">
						<img ng-if="ocorrencia.sentOcor==='N'" ng-src="img/negativo_ativo.png">
						<img ng-if="ocorrencia.sentOcor==='0'" ng-src="img/neutro_inativo.png">
						<h3 style="white-space:pre-wrap; align-self:center">{{ocorrencia.titOcor}}</h3>
					</div>
					<!-- <div></div> -->
					<div class="item item-ocorrencia ">
						<!-- <div></div> -->
						<p compile="ocorrencia.resOcor | htmlBind"></p><br><br><br>
						<!-- <div></div> -->
					</div>
					<!-- <div></div> -->

				</ion-scroll>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
	<ion-footer-bar class="foo-ocorrencia bar-light fade">
		<p class="tag-title col">Tags:</p>
		<p class='row tags'>{{tag}}</p>
		</div>
		<div class="button-bar button-bar_ocorrencia text-center">
			<div class="button_back_occorencia">
				<button class="button icon ion-ios-arrow-back " ng-click="voltar()" style="background:transparent;border: none; color: gray; width: 40px"></button>
			</div>
			<div ng-if="profile.rectify" class="button_occorencia" style="width: 100%;display: inline-flex;justify-content: space-around;">
				<button ng-click="openRetifyModal()" class="button" style="background:transparent;color:#c71313;border: none;">Corrigir</button>
			</div>
			<div ng-if="profile.notifies" class="button_occorencia" style="width: 100%;display: inline-flex;justify-content: space-around;">
				<button ng-click="notificarCliente()" class="button" style="background:transparent;color:#009111;border: none;">Notificar</button>
			</div>
			<div ng-if="!profile.notifies && !profile.rectify" class="button_back_occorencia" style="width: 100%;" >
			</div>
	</ion-footer-bar>
</ion-view>