<ion-view view-title="Twitter">
  <!-- Sobrescrita da nav-bar> -->
  <ion-nav-bar class="twitter-nav-bar">
    <!-- Logo do Twitter do lado esquerdo -->
    <ion-nav-buttons side="left">
      <img class="icon twitter-logo" ng-src="img/icons/twitter/logo.png" />
    </ion-nav-buttons>
    <!-- Botão do JÁ lado direito -->
    <ion-nav-buttons side="right">
      <img class="icon jah-logo" ng-src="img/icons/logo.png" ng-click="sideMenu()"/>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- Corpo -->
  <ion-content>
    <div class="list">
      <!-- Iteração para a lista de tweets -->
      <a class="item item-avatar" ng-repeat="tweet in tweets">
        <!-- Imagem de perfil -->
        <img ng-src="{{ tweet.user.profile_image_url }}">
        <!-- Nome do usuário -->
        <h2>{{ tweet.user.name }}</h2>
        <!-- Nome do perfil -->
        <small>@{{ tweet.user.screen_name }}</small>
        <!-- A quanto tempo -->
        <small class="time" am-time-ago='tweet.created_at'></small>
        <!-- Tweet -->
        <p compile="tweet.text | formatTwitterText"></p>
      </a>
    </div>
  </ion-content>
</ion-view>
