@font-face {
  font-family: 'ja';
  src:  url('./ja.eot?cjs1pl');
  src:  url('./ja.eot?cjs1pl#iefix') format('embedded-opentype'),
    url('./ja.ttf?cjs1pl') format('truetype'),
    url('./ja.woff?cjs1pl') format('woff'),
    url('./ja.svg?cjs1pl#ja') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ja' !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo {
  font-size: 250% !important;
  top: 20px;
}

.icon-logo:before {
  content: "\e900";
}

.icon-brasil {
  font-size: 147% !important;
  margin-right: 3px;
  color: #08b127;
}

.icon-brasil:before {
  content: "\e901";
}

.icon-foco {
  font-size: 194% !important;
  margin-right: 3px;
  color: #ca7300;
}

.icon-foco:before {
  content: "\e902";
}

.icon-mundo {
  font-size: 180% !important;
  margin-right: 3px;
  color: #008cf2;
}

.icon-mundo:before {
  content: "\e903";
}

.icon-olho {
  font-size: 130% !important;
  margin-right: 3px;
  color: #8560ff;
}

.icon-olho:before {
  content: "\e904";
}
